<a href="https://colab.research.google.com/github/Namratha13/numberguess/blob/main/data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=data.frame(
  text=c("string","other","many"),
  pulse=c(10,20,30),
  training=c(23,45,56)
)
print(a)

    text pulse training
1 string    10       23
2  other    20       45
3   many    30       56

In [ ]:
v1=c(1,2,3)
v2=c("R","Castle","Java")
v3=c("pro","type","scaleup")
df=data.frame(v1,v2,v3)
print(df)
print(df[1:2, ])
print(df[ ,2:2])

  v1     v2      v3
1  1      R     pro
2  2 Castle    type
3  3   Java scaleup
  v1     v2   v3
1  1      R  pro
2  2 Castle type
[1] "R"      "Castle" "Java"

In [ ]:
patient=data.frame(
  "name"=c("senthil","sam"),
  "month"=c("jan","dec"),
  "BS"=c(141.2,139.3),
  "BP"=c(90,78))
  patient2=subset(patient,name=="senthil" | BS>150)
  print("new subset patient2")
  print(patient2)

[1] "new subset patient2"
     name month    BS BP
1 senthil   jan 141.2 90

In [ ]:
p=list(a=1,b=c(2,3,4),c="hello")
p[[1]]
p$b
p[["c"]]
p[c(2,3)]
p[[1]]=100
print(p)
p$b=c(12,13,14)
print(p)
p$d="new element"
print(p)

[1] 1

[1] 2 3 4

[1] "hello"

$b
[1] 2 3 4

$c
[1] "hello"

$a
[1] 100

$b
[1] 2 3 4

$c
[1] "hello"

$a
[1] 100

$b
[1] 12 13 14

$c
[1] "hello"

$a
[1] 100

$b
[1] 12 13 14

$c
[1] "hello"

$d
[1] "new element"

In [ ]:
mat=matrix(1:9,nrow=3,ncol=3)
print(mat)
mat1=matrix(1:9,nrow=3,byrow=TRUE)
print(mat1)
mat1[2,3]
mat1[2,3]=30
mat1[1,]=c(10,20,30)
mat1[,2]=c(50,60,70)
mat1

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9
     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9

[1] 6

     [,1] [,2] [,3]
[1,] 10   50   30
[2,]  4   60   30
[3,]  7   70    9

In [ ]:
v=c(10,20,30)
v
v[3]
v[c(1,3)]
v[2]=34
v
v[v>30]=999
v

[1] 10 20 30

[1] 30

[1] 10 30

[1] 10 34 30

[1]  10 999  30

In [ ]:
my_vector=data.frame(name=c("bob","charlie","robin"), age=c(10,23,34))
my_vector
my_vector$age
my_vector[2,1]
my_vector[1,]
my_vector[,c("name","age")]
my_vector[2,1]="robert"
my_vector

  name    age
1 bob     10
2 charlie 23
3 robin   34

[1] 10 23 34

[1] "charlie"

  name age
1 bob  10

  name    age
1 bob     10
2 charlie 23
3 robin   34

  name   age
1 bob    10
2 robert 23
3 robin  34

In [ ]:
a=c(1,2,3)
b=c(56,34,23)
c=rbind(a,b)
d=cbind(a,b)
d
c

     a b
[1,] 1 56
[2,] 2 34
[3,] 3 23

  [,1] [,2] [,3]
a  1    2    3
b 56   34   23